.sec3 {
  background-color: black;
  position: relative;
  z-index: 1;
}
.div-1 {
  background-color: #1d1d1f;
  padding: 20px ;
  margin-bottom:30px  ;
  min-height: 400px ;
  margin-top: 50px ;
  z-index: 1;
}
.div-1 img {
  width: 100%; 
  height: auto;
  border-radius: 3%;
}
.div-1 h5 {
  color: white;
  font-size: 1.2rem;
margin-top: 20px ;
}
.div-1 p {
  color: #dfdede;
  font-weight: 400;
}
.div-1 a {
  color: #f87765;
  font-size: 20px;
  text-decoration: none;
}
.sec3 h1{
  text-align: center ;
  color: #f87765;
  padding:20px 0px  ;

}
.waves {
height: 600px  ;
margin-left:50px  ;
position: absolute;
z-index: -1;
}
.spoin {
  background: #000;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

}
.homesec3 {
  background-color: black;
}
.homesec3 h3 {
  color: white ;
  font-weight: 600;
  font-size: 50px ;
  margin-left: 30px;
  padding-top: 20px ;

}
.homesec3 .swiper-slide {
  padding: 20px;

}
.homesec3 .swiper-slide img {
  width: 100%;
  border-radius: 10px;
}
.homesec3 .swiper-pagination-bullet   {
  background-color: #f87765;
  height: 15px;
  width: 15px;
}
.homesec3 .swiper-pagination {
  position: absolute;
  bottom: 0px  !important;
}


.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 3;
}

.navbar .show .navlinks{
  width: 100%;
  background-color: #a18a8a;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around !important;
  text-align: center;
}

.navbar-toggler {
  border: 1px solid hsl(0, 0%, 100%) !important;
  background-color: #f87765 !important;
  cursor: pointer;
  color: white !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar img {
  width: 100px;
}

.navlinks {
  width: 100%;

} 


.navlinks a {
  color: hsla(0, 0%, 100%, .75);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.5s ease-in-out;
}

.navlinks a:hover {
  color: #f87765;
  transform: scale(1.1);
}



.bannar {
  background-color: #070707;
  padding: 100px 0;
}

.bannar .bannartext {
  padding-top: 100px;
}

.bannar .bannartext p {
  color: #f87765;
  font-weight: 600;
}

.bannar .bannartext p span {
  color: white;
}

.bannar .bannartext h2 ,.bannar .bannartext h1{
  color: white;
  margin: 15px 0;
  font-size: 50px;
}

.bannar .bannartext h5 {
  color: hsla(0, 0%, 100%, .75) !important;
  margin: 20px 0;
  font-size: 25px;
}

.bannar .bannartext button {
  color: white;
  background-color: #f87765;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 20px;
  margin-top: 20px;

}

.bannar .bannarimgs {
  position: relative;
}

.bannar .bannarimgs .waves {
  width: 500px;

}

.bannar .bannarimgs .laptop {
  width: 400px;
  position: absolute;
  top: 50px;
  left: 70px;
}

.bannar .imgbox {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(248, 119, 101, .2);
  backdrop-filter: blur(3px);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.bannar .gimg {
  left: 60px;
  bottom: 150px;
}

.bannar .wimg {
  left: 250px;
  top: 50px;
}

.bannar .uimg {
  right: 100px;
  bottom: 100px;
}

.imgbox img {
  width: 40px;
}
.Forom {
  height:  100vh ;
  background: #000
  ;
  text-align: center;
  color: white;
  padding: 50px;
}

@media only screen and (max-width:700px ) {
.bannarimgs  {
  display: none;
}
.homesec3 .swiper-slide img { 
  width: 80%;
  margin-left: 20px ;
 
}
  .bannar .bannarimgs .waves {
    width: 300px;
    margin-top: 30px;

  }

  .bannar .bannarimgs .laptop {
    width: 240px;
    top: 35px;
    left: 50px;
  }

  .bannar .imgbox {
    width: 60px;
    height: 60px;
  }

  .bannar .gimg {
    left: 60px;
    bottom: 100px;
  }

  .bannar .wimg {
    left: 160px;
    top: 20px;
  }

  .bannar .uimg {
    left: 250px;
    bottom: 100px;
  }

  .imgbox img {
    width: 30px;
  }

  .homesec3 .sectext {
    padding: 100px 10px;
  }

  .homesec3 .sectext h3 {
    margin: 0;
    font-size: 25px;
  }

  .homesec4 {
    padding: 100px 10px;
  }

  .homesec5 {
    padding: 100px 0;
  }

  .homesec5 .col-md-4 div {
    min-height: 700px;
  }

  .homesec4 .divLeft,
  .homesec4 .divRight {
    flex-wrap: wrap;
    width: 100%;
  }

  .homesec6 {
    padding: 100px 0;
  }

  .homesec6 .d-flex {
    flex-wrap: wrap;
  }
}
.homesec5 {
  background-color: #070707;
  padding: 100px;
  text-align: center;

}

.homesec5 h2 {
  text-align: center;
  color: white;
  font-size: 40px;
}

.homesec5 .col-md-4 div {
  background-color: rgba(248, 119, 101, .2);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 30px 20px 50px;
  height: 550px;
  margin-top: 20px;
}

.homesec5 h5 {
  color: #f87765;
  font-weight: 400;
  font-size: 18px;
}

.homesec5 h3 {
  color: white;
  font-weight: 400;
}

.homesec5 .col-md-4 img {
  width: 80%;
  height: 300px;
}

.homesec5 .col-md-4 p {
  color: hsla(0, 0%, 100%, .75);
  margin-top: 20px;
}

/* sixth section  */
.homesec6 {
  background-color: #070707;
  padding: 100px;

}

.homesec6 h3 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 30px;

}

.homesec6 p {
  color: white;
  font-weight: 400;
  font-size: 25px;
  text-align: left;
}

.homesec6 p span {
  color: #f87765;
  font-weight: 400;
  margin-right: 10px;
}

.homesec6 form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  margin: auto;
  text-align: left;
  direction: ltr;

}

.homesec6 form input,
.homesec6 form textarea,
.homesec6 form select {
  width: 100%;
  margin: 20px 0;
  border-radius: 60px;
  padding: 10px 16px;
  outline: none;
  border: 1px solid rgba(248, 118, 101, 0.463);
  color: white;
  background-color: #070707;
  margin-right: 10px;
}

.homesec6 form input::placeholder,
.homesec6 form textarea::placeholder {
  color: rgb(223, 222, 222);
  font-size: 20px;
  text-align: left;
  padding: 20px;
}

.homesec6 button {
  display: inline-block;
  background-color: rgba(248, 118, 101, 0.463);
  backdrop-filter: blur(3px);
  border: none;
  color: white;
  padding: 10px 10px;
  border-radius: 1%;
  margin: 10px 0;
  width: 250px;
  font-size: 18px;
  margin: 20px 0;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.homesec6 button:hover {
  color: #f87765;
  text-decoration: none;
  background-color: white;
}

footer {
  background-color: #070707;
  padding: 50px 50px;
}

footer img {
  width: 100px;
}

footer a {
  display: inline-block;
  color: hsla(0, 0%, 100%, .75);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 10px 5px;
  transition: all 0.5s ease-in-out;
}

footer a:hover {
  color: #f87765;
  transform: scale(1.1);
}

footer .iconsdiv {
  display: flex;
  justify-content: flex-end;
}

footer .iconsdiv svg {
  font-size: 35px;
  margin-left: 20px;
}

footer .copyright {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: white;
}

footer .copyright p:nth-child(2) {
  margin-left: 20px;
}